In [11]:
# %pip install pandas
# %pip install zipfile
# %pip install kaggle
# %pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'd:\Users\jnath\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [12]:
import pandas as pd
import zipfile
import kaggle
import openpyxl

In [ ]:
# !kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

In [ ]:
# zipped_dataset = "london-bike-sharing-dataset.zip"
# with zipfile.ZipFile(zipped_dataset, 'r') as file:
#     file.extractall()

In [2]:
bikes = pd.read_csv("london_merged.csv")
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [3]:
bikes.shape

(17414, 10)

In [4]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [ ]:
bikes.weather_code.value_counts()

In [ ]:
bikes.season.value_counts()

In [5]:
new_cols_dict = {
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'temp_actual_F',
    't2' : 'temp_feel_like_F',
    'hum' : 'humidity_percentage',
    'wind_speed': 'wind_speed_mph',
    'weather_code' : 'weather',
    'is_holiday' : 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

bikes.rename(new_cols_dict, axis=1, inplace=True)

In [6]:
# convert % to decimal
bikes.humidity_percentage = bikes.humidity_percentage / 100

# convert to US/Imperial units
bikes.temp_actual_F = bikes.temp_actual_F * 1.8 + 32
bikes.temp_feel_like_F = bikes.temp_feel_like_F * 1.8 + 32
bikes.wind_speed_mph = round(bikes.wind_speed_mph * 0.6213711922, 1)

In [7]:
bikes

,time,count,temp_actual_F,temp_feel_like_F,humidity_percentage,wind_speed_mph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,37.4,35.6,0.930,3.7,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,37.4,36.5,0.930,3.1,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,36.5,36.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,35.6,35.6,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,35.6,32.0,0.930,4.0,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,41.0,33.8,0.810,11.8,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,41.0,33.8,0.810,13.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,41.9,34.7,0.785,14.9,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,41.9,34.7,0.760,14.3,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,41.0,33.8,0.760,13.7,2.0,0.0,0.0,3.0

In [8]:
season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'fall',
    '3.0': 'winter'
}


weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered Clouds',
    '3.0' : 'Partly Cloudy',
    '4.0' : 'Cloudy',
    '7.0' : 'Rainy',
    '10.0': 'Thunderstorms',
    '26.0': 'Snowy'
}

In [9]:
bikes.season = bikes.season.astype('str')
bikes.season = bikes.season.map(season_dict)

bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)

bikes

,time,count,temp_actual_F,temp_feel_like_F,humidity_percentage,wind_speed_mph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,37.4,35.6,0.930,3.7,Partly Cloudy,0.0,1.0,winter
1,2015-01-04 01:00:00,138,37.4,36.5,0.930,3.1,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,36.5,36.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,35.6,35.6,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,35.6,32.0,0.930,4.0,Clear,0.0,1.0,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,41.0,33.8,0.810,11.8,Partly Cloudy,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,41.0,33.8,0.810,13.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,41.9,34.7,0.785,14.9,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,41.9,34.7,0.760,14.3,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,41.0,33.8,0.760,13.7,Scattered Clouds,0.0,0.0,winter

In [13]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')